<div class="container">
  <div class="col-md-12">
    <div class="row border-bottom pb-0 mb-3">
      <div class="col-md-6">
        <h1>{{artist.name}}</h1>
      </div>
      <div class="col-md-6 pt-2">
        <div class="float-right">
          <button class="btn btn-sm btn-success" (click)="returnToView()">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-8 pb-4">
            <h5>Founded</h5>
          </div>
          <div class="col-md-4">
            <h5>{{artist.yearFormed}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 pb-4">
            <h5>Active</h5>
          </div>
          <div class="col-md-4">
            <h5>{{artist.active | boolean}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 pb-4">
            <h5>Average Customer Rating</h5>
          </div>
          <div class="col-md-4">
            <h5><star-rating [size]="'large'" [showHalfStars]="true" [starType]="'svg'" [rating]="artist.rating"></star-rating></h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pt-3">
            <h5>Current Customer</h5>
            <div class="form-group">
              <select class="form-control" [(ngModel)]="customer" (change)="getRecommendationData();">
                <option *ngFor="let thisCustomer of customers" [ngValue]="thisCustomer">{{thisCustomer.username}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img width="450px" src="{{artist.imageUrl}}">
      </div>
    </div>
  </div>

  <div class="col-md-12" *ngIf="recommendation && recommendation.recommendations.length > 0">
    <div class="row">
      <div class="col-md-6">
      <h4>Recommendations for {{customer.username}}</h4>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <tbody>
      <tr *ngFor="let thisRecommendation of recommendation.recommendations">
        <td><img height="50px" src="{{thisRecommendation.imageUrl}}"></td>
        <td>{{thisRecommendation.name}}</td>
        <td><star-rating [showHalfStars]="true" [starType]="'svg'" [rating]="thisRecommendation.rating"></star-rating></td>
        <td>(score={{thisRecommendation.score}})</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
