<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <h1>Classic Rock Artists</h1>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Founded</th>
        <th>Active</th>
        <th class="text-center">Customer Rating</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let thisArtist of artists" (click)="showArtist(thisArtist)">
        <td>{{thisArtist.name}}</td>
        <td>{{thisArtist.yearFormed}}</td>
        <td>{{thisArtist.active | boolean }}</td>
        <td><star-rating [showHalfStars]="true" [starType]="'svg'" [rating]="thisArtist.rating"></star-rating></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
